[core]
	autocrlf = input
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[alias]
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all --date=local
[user]
	email = julius.wunderlich@student.uni-augsburg.de
	name = Julius Wunderlich
[diff]
  tool = vimdiff
[difftool]
  prompt = false
